@model List<Estado>

<h2>Estados</h2>
<table>
    <thead>
        <tr><th>Clave</th><th>Nombre</th></tr>
    </thead>
    <tbody>
        @foreach (var estado in Model)
        {
            <tr>
                <td>@estado.CveEntidad</td>
                <td>@estado.NomEntidad</td>
            </tr>
        }
    </tbody>
</table>
